/* @font-face {
    font-family: rubikRegular;
    src: url(fonts/RubikMonoOne-Regular.ttf);
} */
@font-face{
    font-family: HindSiliguriRegular;
    src: url(../fonts/HindSiliguri-Regular.ttf);
}

.burger-wrapper {
    height: 30px;
    width: 30px;
    display: none;
    /*При больших екранах ставим none, при 768px ставим flex*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .burger-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
    }
}

.polosa {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.polosa::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
}

.polosa::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2S linear 0.2s, -webkit-transform 0.2s ease-in;
}

.polosa-active {
    background-color: transparent;
    position: fixed;
}

.polosa-active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    background-color: #fff;
}

.polosa-active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    background-color: #fff;
}

.mob-menu {
    position: absolute;
    max-width: 100vw;
    background-color: #09090d;
    /* left: 0; */
    top: -60px;
    left: -110%;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.mob-menu.active {
    left: 0;
    opacity: 0.9;
    width: 100vw;
    position: fixed;
    height: 120%;
}


.mob-menu-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 150px 0px 0px 0px;
    text-align: center;
}

.mob-menu-content li {
    margin: 0px 0px 15px 0px;
    -webkit-transform: translate(-200%, 0px);
    transform: translate(-200%, 0px);
}

.mob-menu-content ul li {
    font-family: 'HindSiliguriRegular', sans-serif;
    font-size: 20px;
    height: 60px;
}

.mob-menu-content a {
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    letter-spacing: 1.5px;
    font-family: 'HindSiliguriRegular', sans-serif;
}

.active-2 li {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
}

.main-menu {
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 1190px;
}

.activeMenu {
    display: block;
}

.main-menu-icon {
    margin: 0px 40px 0px 40px;
    width: 60px;
    height: 60px;
}